* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header {
    font-family: 'Pokemon Solid', sans-serif;
    color: rgb(0, 0, 0);
    letter-spacing: 3px;
}

.container {
    background-color: bisque;
    width: 90vw;
    padding: 50px;
    margin: 0 auto;
    font-family: "Comfortaa", sans-serif;
    text-align: center;
    border: 2px black solid;
    display: block;
    background-image: url(https://storage.ko-fi.com/cdn/useruploads/post/a73190c5-1724-4fc7-988e-d141445646d5_spiaggiapreview.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

button {
    font-family: "Comfortaa", sans-serif;
    width: auto;
    height: auto;
    border-radius: 50em;
    font-size: 10px;
    border: none;
    position: relative;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #f1d3ff,
        -6px -6px 12px #f1d3ff;

}

button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30em;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #ffd3d3 0%, rgb(255, 0, 0) 100%);
    display: block;
    z-index: -1;
}

button:hover::before {
    width: 9em;
}

.card {
    border: 2px black solid;
    width: 22%;
    /* height: 600px; */
    padding: 40px;
    margin: 0 20px;
    margin-left: 30px;
    margin-right: 60px;
    display: inline-block;
    /* box-shadow: 0 20px 30px rgba(0, 0, 0, 0.982); */
    border-radius: 15px 50px;
    background-image: url(https://cdn.pixabay.com/photo/2016/07/23/13/21/pokemon-1536855_640.png);
    background-size: 280px;
    background-repeat: no-repeat;
    background-color: rgb(255, 204, 204);
    box-shadow: rgb(85, 91, 255) 0px 0px 0px 3px,
        rgb(31, 193, 27) 0px 0px 0px 6px,
        rgb(255, 217, 19) 0px 0px 0px 9px,
        rgb(255, 156, 85) 0px 0px 0px 12px,
        rgb(255, 85, 85) 0px 0px 0px 15px;
}

img {
    width: 15vw;
    height: 10vw;

}


h2 {
    font-stretch: expanded;
    padding-top: 20px;
    font-size: 50px font-weight: 900;
    display: grid;
    place-items: center;
    grid-template-areas: "text";
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-image: linear-gradient(305deg, tomato, gold, cyan);
    margin: 0;

}

.type {
    padding-top: 30px;
    padding-left: 5px;
    font-size: 25px;
    text-align: left;
    font-weight: 900;

}

.poison {
    text-align: center;
    font-size: 20px;
    width: auto;
    height: auto;
    border-radius: 30em;
    background-color: rgb(171, 108, 230);
    box-shadow: 6px 6px 12px #f1d3ff,
        -6px -6px 12px #f1d3ff;
    margin: 18px;


}

desc {
    font-size: 17px;
    margin-bottom: 700px;
}




img {
    width: 15vw;
    height: 10vw;

}

h1 {
    font-stretch: expanded;
    padding-top: 40px;
    font-size: 3.5rem;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px rgb(255, 0, 0);
}

.type {
    padding-top: 30px;
    padding-left: 5px;
    font-size: 25px;
    text-align: left;
    font-weight: 900;

}

.electric {
    text-align: center;
    font-size: 20px;
    width: auto;
    height: auto;
    border-radius: 30em;
    background-color: rgb(235, 172, 14);
    box-shadow: 6px 6px 12px #d6ccaf,
        -6px -6px 12px #d6ccaf;
    margin: 18px;


}



img {
    width: 15vw;
    height: 10vw;

}

h1 {
    font-stretch: expanded;
    padding-top: 40px;
    font-size: 3.5rem;
    text-align: center;
    font-weight: 900;
    text-shadow: 2px 2px rgb(255, 0, 0);
}

.type {
    padding-top: 30px;
    padding-left: 5px;
    font-size: 25px;
    text-align: left;
    font-weight: 900;

}

.fighting {
    text-align: center;
    font-size: 20px;
    width: auto;
    height: auto;
    border-radius: 30em;
    background-color: rgb(224, 151, 90);
    box-shadow: 6px 6px 12px #daa790,
        -6px -6px 12px #daa790;
    margin: 18px;


}
